@import "tailwindcss";

@theme {
  --font-family-primary: var(--font-josefin);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary:var(--secondary);
  --color-accent: var(--accent);
}

:root {
  --background: #121315;
  --primary: #E0EEEE; 
  --secondary:#353535;   
  --accent: #2C3436;     
}

body {
  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-family-primary);
}